/**Gemensam styling för samtliga sidor**/
:root {
  --white: #ffffff;
  --light: #e8f0ef;
  --blue: #13293d;
  --silver: #899291;
  --black: #000000;
  --shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.8);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to top, #2c3e50, #899291);
}

/** Kör en grid som default på allt som ligger i wrappern.
lätt att styla och kör flex på de delar som det används på istället.
allt lägger sig snygg redan från början.*/
.wrapper {
  display: grid;
  background: var(--light);
}

/** Då jag vill köra samma typsnitt och styling på de olika
headings och paragrafer lägger jag de löst här**/
h1 {
  font-size: 3rem;
  font-family: "Courgette", cursive;
  font-weight: 800;
}

h2,
h4 {
  font-size: 2rem;
  font-family: "Courgette", cursive;
  opacity: 0.9;
}

p,
footer {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

/** Styling för logo och nav på alla sidor **/
.topnav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 20% 80%;
  grid-template-areas: "logo nav";
  height: 3rem;
  align-items: center;
  padding: 1rem;
  background: var(--white);
  font-family: "Courgette", cursive;
  font-weight: 900;
}

.topnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.topnav ul a:hover {
  color: var(--silver);
  transition: ease-in;
}
.topnav ul li {
  list-style: none;
}

.topnav ul a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1rem;
}

.active {
  opacity: 0.8;
}

/** Logan för hemsidan **/
.fa-dyalog {
  grid-area: logo;
  opacity: 0.8;
}

/** Design för blocket showcase på samtliga sidor **/
.showcase {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/coding.jpg);
  background-size: cover;
  filter: grayscale(50%);
  background-repeat: no-repeat;
  color: var(--white);
  min-height: 50vh;
  justify-content: center;
  text-shadow: 3px 4px 5px #000;
  box-shadow: var(--shadow);
  margin: 0rem 0rem 5rem;
}

.showcase h1 {
  margin: 1rem 0rem;
}

.showcase h4 {
  margin: 0rem 1rem;
}

/** Lägger in stylingen för knappen här så samma styling används
på sidan contact för skicka meddelande knappen.
just denna knapp blir inte synlig förens skärmens storlek når 800px
då denna knapp skall användas som nerladdning för pc variant av appen. **/
.btn {
  align-self: center;
  margin: 1rem 0rem;
  width: max-content;
  background: var(--black);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  letter-spacing: 0.06rem;
  /** För att gömma knappen i mobil läge **/
  display: none;
}

.btn:hover {
  background: var(--silver);
  color: var(--black);
  transition: ease-in;
}

.btn i {
  padding: 0 1rem 0 0;
}

.download-app img {
  flex-direction: row;
  max-width: 10rem;
  max-height: 4rem;
}

/**Design för de 4 boxarna på Home sidan**/
.box {
  display: grid;
  margin: 2rem;
  border: 0px solid;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 1rem 1rem 0 0;
}

.box-text h2 {
  text-align: center;
  border-bottom: 0.1rem solid;
}

.box-image {
  justify-self: center;
  width: 98%;
  margin-top: -1rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: var(--shadow);
}

.box-text footer {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.1rem solid;
  margin: 0rem 0rem 1rem;
}

.box-text footer a {
  color: var(--white);
  text-decoration: none;
}

/** Design för footern på samtliga sidor **/
footer {
  background: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 0rem 0rem;
}

/** Ankarlänk för att komma till toppen av sidan, id behövs då istället
för class.**/
#to-top {
  color: var(--white);
  margin: 1rem;
}

.partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.7;
}

.partners i {
  margin: 1rem 0.5rem 2rem;
}

/** Design för About Page **/
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--blue);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  margin: 5rem 2rem;
  min-height: 25rem;
  box-shadow: var(--shadow);
}
.about-text h1 {
  text-align: center;
  border-bottom: 0.1rem solid;
  margin: 1rem 0rem;
}

/** Design för Contact page**/
.contact {
  height: 80vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background: var(--blue);
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  max-width: 18rem;
}

.contact-form h4,
p {
  margin: 1.5rem;
}

.contact button {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  color: var(--white);
  max-width: 40rem;
}

form input {
  margin: 0.8rem 0rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5rem;
}

form textarea {
  margin: 0.8rem 0rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5rem;
  height: 10rem;
  padding: 0.5rem;
}

.label {
  font-family: "Montserrat", sans-serif;
}

/**Stylyng för Desktop**/
@media only screen and (min-width: 800px) {
  /**Styling som gäller för samtliga sidor**/
  .wrapper {
    margin: 0 15%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /** Styling för sidan index **/
  .box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .box-text {
    border-radius: 1rem 0rem 0rem 1rem;
    height: auto;
    width: auto;
    box-shadow: var(--shadow);
  }

  .box-image {
    width: 100%;
    margin-top: 0;
    border-radius: 0rem 1rem 1rem 0rem;
    box-shadow: var(--shadow);
  }

  /** Här vill jag få fram knappen igen för pc nedladdnind
  så kör en display:block för att få fram den **/
  .btn {
    display: block;
  }

  /** Här vill jag få bort app nerladdning så kör en display:none
  för att få bort den **/
  .download-app {
    display: none;
  }

  /** Vill få till en layout dör varannan box kör row-reverse, 
 väljer därför att köra varannan genom att vrida på (odd) **/
  .box:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    max-height: 100%;
  }

  /** För att få till så att bilderna håller sig i rätt storlekar 
sätter jag max och min width på 50% **/
  .box:nth-child(odd) .box-image {
    min-width: 50%;
    max-width: 50%;
    border-radius: 1rem 0rem 0rem 1rem;
  }

  .box:nth-child(odd) .box-text {
    border-radius: 0rem 1rem 1rem 0rem;
  }

  /** Styling för sidan about **/
  .about-text {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    max-width: 34rem;
    min-width: 10rem;
  }

  /** För att flytta över box(ar) (varannan) till höger **/
  .right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /** Design för Contact page **/
  .contact-form {
    max-width: 45rem;
    box-shadow: var(--shadow);
  }
}
/** För att få bilderna responsiva i chrome
  utan att aspect ratio ändrar storleken automatiskt.
  Förstör dock i firefox som hellre vill ha min-height. **/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .box-image {
    min-height: 24rem;
  }
}
